.graphbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;

    width: 1135px;
    height: 270px;
    margin-left: 20rem;

    /* Snow */

    background: #FFFFFF;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
h2 {
    width: 248px;
    height: 24px;

    /* Desktop/H5 */

    font-family: 'Eloquia Display';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    font-feature-settings: 'liga' off;

    /* Gray 1 */

    color: #333333;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.infobar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;

    width: 280px;
    height: 238px;

    /* Grey Light */

    background: #F6F5F9;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
p {
    width: 229px;
height: 120px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

letter-spacing: 0.3px;
font-feature-settings: 'liga' off;

/* Dark */

color: #1E1E1E;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}