*{
    background: #F1F4F8;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 34px 20px;
    gap: 35px;
    list-style: none;

    position: absolute;
    width: 229px;
    height: 800px;
    left: 16px;
    top: 16px;

    background: #FFFFFF;
    box-shadow: 0px 12px 34px rgba(0, 0, 0, 0.04);
    border-radius: 24px;
    
}

.elements {
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF;
    margin-right: 25%;

}
.radical-Logo {
    width: 160px;
    height: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #FFFFFF;
    margin-bottom: 100px;
    margin-left: 25%;
}
li {
    margin-bottom: 10px;
    background: #FFFFFF;
    
    
}
li:last-of-type {
    position: absolute;
    bottom: 0;
}
.item {
    width: 100px;
    height: 24px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;

    /* Dark */

    color: #1E1E1E;
    white-space: nowrap;
    background-color: transparent;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    
}

.profile {
    width: 92px;
    height: 24px;
    
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;
    
    color: #1E1E1E;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.profilePhoto {
    width: 40px;
    height: 40px;

    /* Gray 50 */

    background: #E2E6EB;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
li .selected:hover {
    padding: 12px 16px;
    background: rgba(102, 95, 239, 0.2);
    width: 170px;
    height: 30px;
    /* Purple */

    border: 1px solid #793EF5;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
}

span, .elements, .selected{
    background-color: transparent;
}

