.table {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-left: 20rem;
    background: #FFFFFF;
    white-space: nowrap;

    width: 1165px;
    height: 490px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
tr {
    line-height: 1px;
    background: #FFFFFF;
}
table {
    width: 100%;
    height: 100%;
}
th:nth-child(1) {
    padding: 16px 12px;
    
    gap: 56px;

    width: 385px;
    height: 20px;

    background: #F6F5F9;
    border-radius: 20px 0px 0px 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
th:nth-child(2) {
    /* Row */


/* Auto layout */
    padding: 16px 12px;
    gap: 56px;

    width: 200px;
    height: 20px;

    background: #F6F5F9;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
th:nth-child(3) {
    /* Row */


/* Auto layout */

    padding: 16px 12px;
    gap: 56px;

    width: 160px;
    height: 20px;

    background: #F6F5F9;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
th:nth-child(4) {
    padding: 16px 12px;
    gap: 56px;

    width: 250px;
    height: 20px;

    background: #F6F5F9;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
th:nth-child(5) {
    padding: 16px;
    gap: 56px;

    width: 140px;
    height: 20px;

    background: #F6F5F9;
    border-radius: 0px 20px 0px 0px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
.dropIcon {
    margin-left: 40%;
    background: transparent;
}
.header {
    white-space: nowrap;
    flex-direction: row;
    justify-content: space-between;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1px;
    /* identical to box height, or 171% */

    font-feature-settings: 'liga' off;

    /* Text/Text - 01 */

    color: #2F3031;
    background-color: transparent;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}